
<div class="table-body-row">
  <div class="table-body-row table-body-row__item">{{user.profilePicture}}</div>
  <div class="table-body-row table-body-row__item">{{user.name}}</div>
  <div class="table-body-row table-body-row__item">{{user.family}}</div>
  <div class="table-body-row table-body-row__item">{{user.nickName}}</div>
  <div class="table-body-row table-body-row__item">{{user.phoneNumber}}</div>
  <div class="table-body-row table-body-row__item">{{user.email}}</div>
  <div class="table-body-row table-body-row__item">{{user.community}}</div>
  <div class="table-body-row table-body-row__item">{{user.birthDay}}</div>
  <div class="table-body-row table-body-row__item">{{user.gender}}</div>
  <div class="table-body-row table-body-row__item">
    <button (click)="toggleUpdate()">edit</button>
  </div>
  <div class="table-body-row table-body-row__item" >
    <button (click)="deleteUser(index)">delete</button>
  </div>
</div>

<div [@slide]="slideState">
  <app-edit-user [key]="index" [user]="user"></app-edit-user>
</div>
