
<tr class="table-body-row">
  <td class="table-body-row table-body-row__item">{{user.profilePicture}}</td>
  <td class="table-body-row table-body-row__item">{{user.name}}</td>
  <td class="table-body-row table-body-row__item">{{user.family}}</td>
  <td class="table-body-row table-body-row__item">{{user.nickName}}</td>
  <td class="table-body-row table-body-row__item">{{user.phoneNumber}}</td>
  <td class="table-body-row table-body-row__item">{{user.email}}</td>
  <td class="table-body-row table-body-row__item">{{user.community}}</td>
  <td class="table-body-row table-body-row__item">{{user.birthDay}}</td>
  <td class="table-body-row table-body-row__item">{{user.gender}}</td>
  <td class="table-body-row table-body-row__item">
    <button (click)="toggleUpdate()">edit</button>
  </td>
  <td class="table-body-row table-body-row__item" >
    <button (click)="deleteUser(index)">delete</button>
  </td>
</tr>

<div [@slide]="slideState">
  <app-edit-user [key]="index" [user]="user"></app-edit-user>
</div>
