
.table-container {
  display: flex;
  justify-content: center;
}

.table {
  &__body {
    &--header {
    }
    &--body {
    }
  }
}

.table-header-row {
  &__item {
    display: inline-block;
    width: 90px;
  }
}

.table-body-row {
  &__item {
  }
}
