
<app-add-user></app-add-user>

<div class="table-container">
  <div class="table">
    <div class="table table__body table__body--header">
      <div class="table-header-row">
        <div class="table-header-row table-header-row__item">profilePicture</div>
        <div class="table-header-row table-header-row__item">name</div>
        <div class="table-header-row table-header-row__item">family</div>
        <div class="table-header-row table-header-row__item">nickName</div>
        <div class="table-header-row table-header-row__item">phoneNumber</div>
        <div class="table-header-row table-header-row__item">email</div>
        <div class="table-header-row table-header-row__item">community</div>
        <div class="table-header-row table-header-row__item">birthDay</div>
        <div class="table-header-row table-header-row__item">gender</div>
        <div class="table-header-row table-header-row__item">edit</div>
        <div class="table-header-row table-header-row__item">delete</div>
      </div>
    </div>
    <div class="table table__body table__body--body">

      <ng-template ngFor let-user [ngForOf]="users$ | async" let-i="index">
        <app-user-item [index]="i" [user]="user"></app-user-item>
      </ng-template>

    </div>
  </div>
</div>
