

<div class="add-user-form-container">
  <form class="add-user-form" action="" [formGroup]="addUserForm" (ngSubmit)="addUserFormSubmit()">
    <input class="add-user-form add-user-form__input" type="text" placeholder="name" formControlName="name">
    <input class="add-user-form add-user-form__input" type="text" placeholder="family" formControlName="family">
    <input class="add-user-form add-user-form__input" type="text" placeholder="nickName" formControlName="nickName">
    <input class="add-user-form add-user-form__input" type="text" placeholder="phoneNumber" formControlName="phoneNumber">
    <input class="add-user-form add-user-form__input" type="text" placeholder="email" formControlName="email">
    <input class="add-user-form add-user-form__input" type="text" placeholder="community" formControlName="community">
    <input class="add-user-form add-user-form__input" type="text" placeholder="birthDay" formControlName="birthDay">
    <input class="add-user-form add-user-form__input" type="text" placeholder="gender" formControlName="gender">
    <button>add new user</button>
  </form>
</div>
